.viewer-item {font-size: .9em; padding: 8px 16px;}
.editor-item {font-size: 1em; padding: .8rem 1.4rem; transition: background .5s;}
.editor-item:hover {background: #eee;}
.auditory_input {width: 100%; border: none; background: none;outline:none}

.flex-vertical {display: flex; flex-direction: column;height:100%;}
.statusbox {background: #fff; border-bottom: thin #eee solid;display: flex;}
.statusbox i {margin: 8px;}
.status_text {margin: 12px 6px;}
